body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9ecef; /* Color de fondo claro */
    scroll-behavior: smooth; /* Desplazamiento suave */
    overflow-x: hidden;
}
header {
    /* Azul oscuro */
    clip-path: polygon(100% 94%, 100% 0, 0 0, 0 95%, 50% 100%);
    background-image: url('img/fondoinicio.jpg'), url('img/velas.png');
    background-repeat: no-repeat, repeat;
    background-size:cover, 1200px 600px;
    background-color: rgba(0, 0, 0, 0.5); /* Negro con opacidad del 50% */
    margin-bottom:10px;
    background-blend-mode: overlay; /* Mezcla la imagen con el color */
    background-position: center;
    color: white;
    padding: 250px 0;
    text-align: center, -100px center; /* Posiciona la segunda imagen fuera del área visible */;
    animation: slideInfinite 70s linear infinite; /* Aplica la animación infinita */
    
}

/*-----------------------------stylos del menu de navegacion----------------------------------------------------------------- */
 
.checkbtn img {
    width: 30px; /* Ajusta según sea necesario */
    height: 30px; /* Ajusta según sea necesario */
}

nav{
    background-color: rgb(0, 0, 0); /* Negro semitransparente */
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 127px;
}
nav .ulplan{
    float: right;
    margin-right: 20%;
}
nav .ulplan .liplan{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
nav .ulplan .liplan a{
    color: white;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 20px;
    text-transform: uppercase;
}
.liplan a.active, .liplan a:hover{
    
    background: #2d70dd;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/* Estilo para el menú semi-transparente */
nav.semi-transparent {
    background-color: rgba(8, 8, 8, 0.897); /* Fondo semi-transparente */
    opacity: 0.8; /* Reduce la opacidad */
    backdrop-filter: blur(300px); /* Aplica el blur */
}


@media (max-width: 952px){
   .checkbtn{
        display: block;
    }
    .ulplan{
        z-index: 9999; /* Asegura que sea más alto */
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #0d0a0a;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav .ulplan .liplan{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav .ulplan .liplan a{
        font-size: 20px;
    }
    .liplan a:hover, .liplan a.active{
        background: none;
        color: red;
    }
    #check:checked ~ .ulplan{
        left:0;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    .ulplan{
        z-index: 9999; /* Asegura que sea más alto */
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #0d0a0a;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav .ulplan .liplan{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav .ulplan .liplan a{
        font-size: 20px;
    }
    .liplan a:hover, .liplan a.active{
        background: none;
        color: red;
    }
    #check:checked ~ .ulplan{
        left:0;
    }
}




/* Definición de la animación para movimiento infinito */
@keyframes slideInfinite {
    from {
        background-position: center, -100px center; /* Comienza fuera del área visible a la izquierda */
        opacity: 1; /* Comienza visible */
    }
    to {
        background-position: center, calc(100vw + 100px) center; /* Termina fuera del área visible a la derecha */
        opacity: 1; /* Mantiene visible durante el movimiento */
    }
}

header h1 {
    text-align: center;
    margin-top: -300px; /* Ajusta este valor para mover el texto hacia arriba o abajo */
}


nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 0 15px;
    text-align: center;
}
nav ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
}
main {
    padding: 0px;
}

li {
    text-align: center;
}
section {
    
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(10, 80, 166, 0.3);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

section:hover {
    transform: translateY(-2px);
    border: 1px solid rgba(0, 119, 255, 0.377);
    box-shadow: 0 20px 40px rgba(58, 95, 206, 0.5);
}
h2 {
   
    
    color: #0056b3; /* Azul medio */
   
    text-align: center ;

    

}

.subrayado {
    display: block; /* Hace que ocupe toda la línea */
    width: 20%; /* Ancho del subrayado (ajustar según necesidad) */
    height: 4px; /* Grosor del subrayado */
    background: linear-gradient(90deg, #004c78, transparent); /* Color y efecto de desvanecimiento */
    margin: 0 auto; /* Centra el subrayado en relación al título */
}





h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 36px; /* Ajusta el tamaño según sea necesario */
    font-weight: normal;
    transition: transform 4s ease, opacity 0.5s ease; /* Transiciones suaves */
}




h1.scrolled {
    transform: scale(0.5); /* Aumentar tamaño */
    opacity: 0; /* Desvanecer */
}

.cta-button {
    background-color: #007bff; /* Azul brillante */
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

#hero {
    background-image: url('file:///C:/Users/Admin/Desktop/Nueva%20carpeta/img/Imagen%20de%20WhatsApp%202024-12-14%20a%20las%2019.51.49_a91eb108.jpg'); /* URL de la imagen de fondo */
    background-size: cover; /* Cubre todo el área del contenedor */
    background-position: center; /* Centra la imagen */
    color: white; /* Color del texto sobre la imagen */
    padding: 200px 20px; /* Espaciado interno */
    text-align: center; /* Centra el texto */
    position: relative; /* Necesario para el pseudo-elemento */
}

#hero::before {
    content: ''; /* Crea un pseudo-elemento */
    position: absolute; /* Posiciona el pseudo-elemento */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    z-index: 1; /* Asegura que esté detrás del texto */
}

#hero h2, #hero p {
    position: relative; /* Necesario para que el texto esté por encima del pseudo-elemento */
    z-index: 2; /* Asegura que el texto esté por encima del fondo semitransparente */
    text-shadow: 2px 2px 4px rgba(192, 14, 14, 0.599); /* Sombra del texto para mayor legibilidad */
}




.features-list, .traders-list, .testimonials-list, .withdraws-list {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples filas */
    justify-content: space-around; /* Espaciado entre elementos */
  
}
.feature-item, .trader-item, .testimonial-item, .withdraw-item {
    text-align: center;
    width: calc(20% - 40px); /* Ajusta el ancho y deja espacio para márgenes */
    margin-bottom: 20px; /* Margen inferior para separación */
    min-width: 280px;
    flex: 0 0 auto;
    background: rgba(255, 255, 255, 0.03);
    padding: 2rem;
    border-radius: 15px;
    
    transition: all 0.4s ease;
}
/*estilos del boton terminos de contrato*/
.botondet {
    position: relative;
    font-size: 1em;
    padding: 0.7em 1.4em;
    background-color:blue;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    color: #DEDEDE;
    box-shadow: 0.5em 0.5em 0.5em rgba(255, 255, 255, 0.3);
  }
  
.botondet::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%, rgb(21, 21, 21) 60%);
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
  }
  
  .botondet:hover::before {
    width: 1.6em;
    height: 1.6em;
  }
  
 .botondet:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
  }












.trader-item:hover {
    transform: translateY(-10px);
    
    box-shadow: 0 10px 25px rgba(30, 56, 223, 0.15);
}
.feature-item img, .trader-item img {
    width: 150px; /* Ajusta el tamaño del icono */
}
.trader-item img {
    width: 200px; /* Ajusta el tamaño de la imagen del trader */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2); /* Sombra para el efecto 
    /*border: 1px solid #3498db; /* Agrega un borde azul de 4 píxeles */
}
.bandera {
width: 25px !important;
padding-left:  5px !important;
height:25px !important;
border-radius: 0 !important;
vertical-align: middle !important;
box-shadow:none!important;

}

.testimonial-item p {
    font-style: italic; /* Estilo para los testimonios */
}
.withdraw-item img {
    width: 100%; /* Capturas de pantalla responsivas */
    border-radius: 5px; /* Bordes redondeados para las imágenes */
}

#info {
    text-align:center ;
    
    }

#tp {
    padding-top:100px;
color: #ffffff ;
font-family: 'Poppins', sans-serif;


font-size: 36px; /* Ajusta el tamaño según sea necesario */
    transition: transform 1s ease, opacity 0.5s ease; /* Transiciones suaves */
 }

 #inicio {
    padding-top:100px;
    font-family: 'Playfair Display', serif; /* Aplica la fuente a todo el cuerpo */
    transition: transform 4s ease, opacity 0.5s ease; /* Transiciones suaves */
    font-size: 30px; /* Ajusta el tamaño según sea necesario */
   
 }
h3{
    transition: transform 4s ease, opacity 0.5s ease; /* Transiciones suaves */
    text-align: center;
}
 h3.scrolled {
    transform: scale(0.5); /* Aumentar tamaño */
    opacity: 0; /* Desvanecer */
}

 #inicio2 {
    
    font-family: 'Playfair Display', serif; /* Aplica la fuente a todo el cuerpo */
   
    font-size: 20px; /* Ajusta el tamaño según sea necesario */
 }

 #h1.scrolled {
    transform: scale(0.5); /* Aumentar tamaño */
    opacity: 0; /* Desvanecer */
}



footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ffffff; /* Azul oscuro */
    color: white;
    justify-content: space-between;
   
}



.logo{

    position: absolute; /* O fixed, dependiendo de tu diseño */
    top: -20px; /* Distancia desde la parte superior */
    left: 10px; /* Distancia desde la izquierda */
    

}

.float-wa {
    position: fixed;
    width: 50px; /* Tamaño del botón */
    height: 50px; /* Tamaño del botón */
    bottom: 20px; /* Distancia desde el fondo */
    right: 20px; /* Distancia desde la derecha */
    background-color: #25D366; /* Color del fondo */
    color: #FFF; /* Color del icono */
    border-radius: 50%; /* Hace el botón circular */
    text-align: center;
    font-size: 24px; /* Tamaño del icono */
    z-index: 100; /* Asegura que esté por encima de otros elementos */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

.float-wa img {
    width: 50px; /* Tamaño del icono dentro del botón */
    height: auto; /* Mantiene la proporción del icono */
}

.float-wa:hover {
    background-color: #128C7E; /* Cambia el color al pasar el mouse */
}


.card {
    background:white;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 157, 255, 0.15);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    padding: 3.5rem;
    margin-bottom: 1rem;
    transform: translateY(0);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    
}

.card.trading-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('file:///C:/Users/Admin/Pictures/Imagen%20de%20WhatsApp%202024-12-14%20a%20las%2019.51.33_dc21fb6c.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.card:hover {
    transform: translateY(-2px);
    border: 1px solid rgba(0, 119, 255, 0.377);
    box-shadow: 0 20px 40px rgba(0, 119, 255, 0.377);
}

.card h2 {
    text-align: center ;
    color: #0056b3; /* Azul medio */
   
    letter-spacing: 1px;
    margin-bottom: 2rem;
    position: relative;
}

.card h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 80px;
    height: 4px;
   
}

.investors-grid {
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    padding: 1rem 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: #006aff rgba(255,255,255,0.1);
}

.investors-grid::-webkit-scrollbar {
    height: 8px;
}

.investors-grid::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.1);
    border-radius: 4px;
}

.investors-grid::-webkit-scrollbar-thumb {
    background: #00ff88;
    border-radius: 4px;
}

.investor-card {
    min-width: 280px;
    flex: 0 0 auto;
    background: rgba(255, 255, 255, 0.03);
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid rgba(0, 255, 136, 0.1);
    transition: all 0.4s ease;
}

.investor-card:hover {
    transform: translateY(-10px);
    border-color: rgba(0, 255, 136, 0.3);
    box-shadow: 0 10px 25px rgba(30, 56, 223, 0.15);
}

.investor-avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 auto 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #fff;
   /* border: 3px solid rgba(0, 85, 255, 0.458);*/
    transition: all 0.4s ease;
    box-shadow: 0 5px 15px rgba(0,255,136,0.3);
}

.investor-card:hover .investor-avatar {
    border-color: rgba(0, 85, 255, 0.458) ;
    box-shadow: 0 0 25px rgba(0, 255, 136, 0.3);
}

.investor-avatar.trader1 {
    background-image: url('perfiles/inversores/img1.jpg');
}

.investor-avatar.trader2 {
    background-image: url('perfiles/inversores/img2.jpg');
}

.investor-avatar.trader3 {
    background-image: url('');
}

.investor-avatar.trader4 {
    background-image: url('perfiles/inversores/img3.jpg');
}

.investor-avatar.trader5 {
    background-image: url('https://images.unsplash.com/photo-1494790108377-be9c29b29330?auto=format&fit=crop&q=80');
}

.investor-avatar.trader6 {
    background-image: url('https://images.unsplash.com/photo-1552058544-f2b08422138a?auto=format&fit=crop&q=80');
}

.investor-avatar.trader7 {
    background-image: url('https://images.unsplash.com/photo-1544005313-94ddf0286df2?auto=format&fit=crop&q=80');
}





.info-section {
    padding: 20px;
    background-color: #f4f4f4;
}

.content {
    display: flex; /* Utiliza flexbox para alinear la imagen y el texto */
    align-items: center; /* Centra verticalmente los elementos */
}

.imagen {
    width: 300px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.texto {
    max-width: 600px; /* Limita el ancho del texto */
}

.cardt {
    width: 450px;
    height: 170px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .cardt p {
    z-index: 1;
    color: #0e49e1;
    /* color: rgb(0, 102, 255); */
    font-size: 14px;
    text-align: center;
  }
  
  .cardt::before {
    content: '';
    position: absolute;
    width:600px;
    
    background-image: linear-gradient(180deg, rgb(55, 255, 0), #ff2911 );
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .cardt::after {
    content: '';
    position: absolute;
     background-color: #e9ecef;
    /* background-image:url("img/fondocoment.jpg") ;  */
    background-size: cover; /* Cubre todo el fondo */
    filter: blur(2px); /* Aplica un desenfoque a la imagen de fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    ;
    inset: 5px;
    border-radius: 15px;
  }  
  /* .cardt:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } */

  @media (max-width: 768px) {
    .features-list, .traders-list, .testimonials-list, .withdraws-list {
        justify-content: center; /* Centra los ítems en pantallas pequeñas */
        margin: 0 auto; /* Centra el contenedor si es necesario */

    }

        .float-wa{ 
          

        body { 
           overflow-x: hidden;
        }

       

        
    }

    nav ul li {
        display: block; /* Cambia a bloque en pantallas pequeñas */
        margin-bottom: 10px; /* Espaciado entre elementos del menú */
        text-align: center; /* Centra los enlaces del menú */
    }
    .cardt {
        margin-bottom: 20px; /* Aumenta la separación en móviles */
        padding: 15px; /* Ajusta el padding si es necesario para móviles */
        border-width: 1px; /* Reduce el grosor del borde si se desea */
    }
}

/*botones de redes sociales*/

.social-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.social-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s ease;
    background-color: #f0f0f0;
}

.social-button:hover {
    transform: scale(1.4);
}

.social-button img {
    width: 30px;
    height: 30px;
}

/* Colores específicos para cada red social */
.telegram {
    background-color: #0088cc;
}

.instagram {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
}

.facebook {
    background-color: #1877f2;
}

.youtube {
    background-color: #FF0000; /* Color rojo de YouTube */
}

.discord {
    background-color: #7289DA; /* Color de Discord */
}

.texfooter{
    font-size:10px;
    color: #0849b8;
}
  
.texfooter1{
    
    color: #0849b8;
}


/*logos del footer*/

.logos2{
background-color:rgb(0, 0, 0);
border-radius: 100px;
}/* No code was selected, so I will provide a general improvement to the CSS code */



/*css de la section videos*/
 

.video-info-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    background: #ffffff; /* Fondo blanco para el contenedor */
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-left:100px;
}

.infotext{
    padding-left:100px;
}
.containerv {
    display: flex;
    
    flex: 1;
    width: 700%;
}
.video-container {
    flex: 1;
    margin-right: 20px;
    max-width: 500px;
    height: 325px;
    overflow: hidden;
    position: relative; /* Para el overlay */
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Bordes redondeados */
}
.info-container {
    flex: 1;
    padding: 10px;
}
.arrow {
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    background-color: #007BFF; /* Color azul para las flechas */
    color: white;
    border: none;
    border-radius: 100%;
    transition: background-color 0.3s;
    z-index: 1;
}
.arrow:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;padding: 20px;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente para el overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.video-container:hover .overlay {
    opacity: 1; /* Mostrar overlay al pasar el mouse */
}
.play-button, .pause-button {
    font-size: 48px;
    color: #007BFF; /* Color azul para los botones */
    cursor: pointer;
    display: none; /* Ocultar inicialmente */
}




#videoDescription {
padding-top: 200px;
left: -530px;
position: relative;
font-size:10px;
   
}

@media (max-width: 600px) {

    
#videoDescription {
    position: relative;
    padding-top: 20px;
    left: -30px;
    font-size: 10px;
    text-align: center
    }

}


/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .video-info-section {
        padding: 10px; /* Reduce el padding en pantallas pequeñas */
       margin:0%;
      padding-left: -40%;
       align-items: center;
    }

    .containerv {
        flex-direction: column; /* Coloca los elementos en columna en pantallas pequeñas */
        width: 100%; /* Asegura que ocupe todo el ancho */
    }

    .video-container {
        margin-right: 0; /* Elimina el margen en pantallas pequeñas */
        margin-bottom: 20px; /* Espacio entre el video y la información */
    }

    .info-container {
        width: 100%; /* Asegura que la información ocupe todo el ancho */
    }

    .info-container h2 {
        font-size: 1.2em; /* Tamaño de fuente más pequeño para el título */
    }

    .info-container p {
        font-size: 0.9em; /* Tamaño de fuente más pequeño para el texto */
    }
}


/*metodo de pago*/
.metodop {
    display: flex;
    position: absolute;
    margin: 0;
   left: 0;
   padding-left: 50px;
   padding-top:-130px;
   
  }
  
  .metodotitulo {
    color: #b39e00;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0;
  }
  
  .qr {
    
    position: absolute;
    text-align: left;
    margin: 0;
    padding-top: 50px;
    padding-left:39px;
    
    /* Remover position y top para evitar desplazamientos */
  }

  /*airtm*/
  .metodop_airtm {
    display: flex;
    position: absolute;
    margin: 0;
   left: 0;
   padding-left: 250px;
   padding-top:-150px;
   
  }
  
  .metodotitulo_airtm {
    color: #0056b3;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0;
  }
  
  .qr_airtm {
    
    position: absolute;
    text-align: left;
    margin: 0;
    padding-top: 50px;
    padding-left:39px;
    
    /* Remover position y top para evitar desplazamientos */
  }

 

  /* Estilos para pantallas para pequeñas metodo de pago */
@media (max-width: 768px) {
    .qr_airtm{
        width:40px;
        height: 40px;
        position: absolute;
        text-align: left;
        margin: 0;
        padding-top: 50px;
        padding-left:1px;
    }

    .metodop_airtm {
        display: flex;
        position: absolute;
        margin: 0;
       left: 0;
       padding-left: 200px;
       padding-top:150px;
       
      }
        .qr{
        width:40px;
        height: 40px;
        position: absolute;
        text-align: left;
        margin: 0;
        padding-top: 45px;
        padding-left:1px;
    }

    .metodop{
        display: flex;
        position: absolute;
        margin: 0;
       left: 0;
       padding-left: 40px;
       padding-top:150px;
       
      }
}

.logosf{
    position: relative;
    padding-top: 100px;
 
}
  

  /* testimonios en video*/

  .testimonios-v {
    display: flex;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    padding: 20px;
    white-space: nowrap; /* Evita que los elementos se envuelvan */
    scrollbar-color: #006aff rgba(255,255,255,0.1);
    scrollbar-width: thin;
   
}

.testimonio-v {
    flex: 0 0 30%; /* Toma el 30% del ancho en pantallas grandes */
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    display: inline-block; /* Permite que los elementos se alineen en línea */
}

.testimonio-v video {
    width: 100%;
    height: 200px; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Mantiene la proporción del video */
}

.testimonio-v p {
    padding: 10px;
    text-align: center;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .testimonio-v {
        flex: 0 0 100%; /* Toma el 100% del ancho en pantallas pequeñas */
    }
}



.testimonios-v::-webkit-scrollbar-track {
    background: #ffffff; /* Color del fondo de la barra de desplazamiento */
}

-------------------------/*css de planes*/-----------------------------------------------------------------

.planes{

    font-family: Arial, sans-serif;
            background: linear-gradient(to right, #007BFF, #00BFFF);
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #fff;
            text-align: center;
}
.containerptr {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}



.cardptr {
    background: linear-gradient(145deg, #1e3c72, #2a5298);
    border-radius: 10px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2), 
                -8px -8px 20px rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.cardptr:hover {
    transform: translateY(-5px);
    box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.3), 
                -12px -12px 30px rgba(255, 255, 255, 0.1);
}

.card-titleptr1 {
    color: #CD7F32 !important;;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}
.card-titleptr2 {
    color: #C0C0C0 !important;;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}
.card-titleptr3 {
    color: #FFD700 !important;;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}
.priceptr {
    font-size: 32px;
    color: #ffffff;
    margin: 20px 0;
    font-weight: bold;
}

.featuresptr {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.featuresptr li {
    margin: 10px 0;
    font-size: 16px;
    color: #e0e0e0;
}

.btnptr {
    background-color: #007BFF !important; 
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    transition: background-color 0.3s, transform 0.3s !important;
}

.btnptr:hover {
    background-color: #0056b3!important;
    transform: scale(1.05)!important;
}

.featuredptr {
    border: 2px solid #007BFF;
    background-color: rgba(231, 243, 255, 0.1);
}

@media (max-width: 768px) {
    .containerptr {
        flex-direction: column;
        align-items: center;
    }

    .cardptr {
        width: 80%;
        
    }

    .featuresptr {
        padding: 10px; /* Añade padding para mejorar la visibilidad */
        margin: 0; /* Asegúrate de que no haya márgenes que oculten el contenido */
    }

    .featuresptr li {
        font-size: 16px ; /* Aumenta el tamaño de la fuente para mejor legibilidad */
        color: #ffffff; /* Cambia el color a blanco para que resalte sobre el fondo */
    }
    
    
}

.ribbonptr {
    position: absolute;
    right: -60px; /* Ajusta la posición según sea necesario */
    top: 1px; /* Ajusta la posición según sea necesario */
    z-index: 1;
    color: #fff;
    padding: 20px 40px; /* Aumenta el padding para hacer la cinta más gruesa */
    font-weight: bold;
    font-size: 18px; /* Aumenta el tamaño de la fuente para que sea más visible */
    transform: rotate(45deg);
    width: 160px; /* Aumenta el ancho de la cinta para que se vea más prominente */
    text-align: center;
    box-shadow: 0 15px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    border-radius: 5px;
}

.goldptr {
    background-color: #ceb009 ; /* Color dorado */
}

.silverptr {
    background-color: #C0C0C0; /* Color plateado */
}

.bronzept {
    background-color:#CD7F32; /* Color bronce */
}